<h2><%= @center_name %>人員報表</h2>

<table border="1" cellpadding="5" cellspacing="2" style="border-collapse: collapse" bordercolor="#444444" align="center" width="80%">
  <tr class="th_row">
    <td>统计日期</td>
    <td>祝福家庭</td>
    <td>学生会员</td>
    <td>职工会员</td>
    <td>小学二世</td>
    <td>中学二世</td>
    <td>学生学员</td>
    <td>职工学员</td>
    <td><%=@blessedable_title%></td>
    <td>献身领导</td>
    <td>献身会员</td>
  </tr>
  
  <tr onMouseOver="this.style.background='#EFEF88';" onMouseOut="this.style.background='#FFFFFF';" align="right">
    <td align="center">2014-10-28</td>
    <td>20</td>
    <td>5</td>
    <td>8</td>
    <td>21</td>
    <td>2</td>
    <td>9</td>
    <td>3</td>
    <td>5</td>
    <td>4</td>
    <td>5</td>
  </tr>

</table>
