<style>
ol, ul {
  font-size:   1.1em;
  line-height: 1.7em;
}
</style>
<h2>模擬系統功能表</h2>
<%= main_function_bar %>
<table width="1050" border="1" cellpadding="4" cellspacing="0" style="border-collapse: collapse" bordercolor="#444444" align="center">
  <tr>
    <td width='150' height='150' align='center' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>傳道開拓</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>傳道學生</li>
              <li>傳道青年</li>
              <li>傳道家庭</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <td width='150' height='150' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>新人教育</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>原理教育</li>
              <li>信仰教育</li>
              <li>祝福教育</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <td width='150' height='150' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>會員養育</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>心情養育</li>
              <li>組員交流</li>
              <li>前線體驗</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <td width='150' height='150' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>幹部培育</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>講義訓練</li>
              <li>陪談訓練</li>
              <li>領導訓練</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <td width='150' height='150' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>禮拜活動</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>講道內容</li>
              <li>禮拜氛圍</li>
              <li>附加活動</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <td width='150' height='150' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>聚會活動</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>組長聚會</li>
              <li>組員聚會</li>
              <li>跨組聚會</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
    <td width='150' height='150' valign='top'>
      <table border='0' cellpadding='3' cellspacing='0' style='border-collapse: collapse' bordercolor='#444444' width='100%'>
        <tr align='center'>
          <td class='th_row' style='font-size:1.2em'>經濟基台</td>
        </tr>
        <tr>
          <td valign='top'>
            <ul>
              <li>信息平台</li>
              <li>事業部門</li>
              <li>財務審查</li>
            </ul>
          </td>
        </tr>
      </table>
    </td>      
  <tr>
</table>	