<% form_tag( {:action => 'process_forgot_password'}, {:name => 'form1'} ) do %>
    <p>電子郵箱: <input type="text" name="email"/></p>
	<p>帳號名稱: <input type="text" name="username"/></p>  
  <p>
  		<input type="submit" value="送出">
  		<input type="button" value="返回" onClick="history.back();">
</p>
<% end %>
<script>document.form1.email.focus();</script>