<p>
  <b>Name:</b>
  <%=h @asset_item_detail_catalog.name %>
</p>


<%= link_to 'Edit', edit_asset_item_detail_catalog_path(@asset_item_detail_catalog) %> |
<%= link_to 'Back', asset_item_detail_catalogs_path %>